.detail{
    margin: 50px 0;
}
.detail_img{
    width: 100%;

  
}

.detail_img img{
    width: 100%;
    height: auto;
    overflow: hidden;

}

.detail__name{
    font-size: 28px;
    text-transform: capitalize;
    font-weight: 400;
    color: #2c2c2c;
}
.detail__actual{
    text-decoration: line-through;
    font-size: 20px;
}
.detail__discount{
    font-size: 20px;
    margin-left: 20px;
}
.inc__dec{
    display: flex;
    margin: 20px 0;
    font-size: 20px;
}
.dec,.inc,.qty{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid silver;
    cursor: pointer;
    color: #321118;
}
.qty{
    border-left: none;
    border-right: none;
}
.details__info{
    display: flex;
    flex-wrap: wrap ;
}
.detail_btn{
    display: flex;
    margin: 20px 0;
    font-size: 20px; 
    width: 100%;
}
.btn_detail{
    width: 90%;
}
.btn_detail{
    border: none !important;
    background-color: #321118 !important;
    color: white !important;
    padding: 5px !important;
    outline: none;
    text-transform: uppercase !important;
}
.detail_para{
    text-align: justify;
}
.detail_other__images{

    /* background-color: #321118; */
    width: 100%;
    justify-content: space-around;
    margin: 20px 0;

}
.other__img{
    width: 100%;
       

}
.other__img:hover{
    /* transform: scale(1.1); */
    transition: 0.4s ease;
    box-shadow: 5px 16px 44px -12px rgba(0,0,0,0.75);

}
.other__img img{
    width: 100%;
}
.other__img,.detail_img{
    cursor: pointer;
}